body {
    position: relative;
    z-index: 0;
    background-color: #fff; /* Fondo para contenido */
}
/*
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/amanda/6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px); 
    z-index: -1; 
    opacity: 0.3;  
}*/
body{
    background-color: rgb(249, 232, 250);
}
.titulo{
    text-align: center;
}
.row {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: center; /* Alinea verticalmente si es necesario */
    gap: 20px; /* Espacio entre las columnas */
}

.col {
    text-align: center; /* Centra el texto debajo de cada imagen */
}

.col img {
    width: 300px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 10px; /* Bordes redondeados opcionales */
}
.colcircul img {
    width: 300px; /* Ajusta el tamaño de las imágenes */
    height: 300px; /* Asegúrate de que la altura sea la misma que el ancho para mantener la proporción circular */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor circular */
}

.col p {
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.parrafo{
    font-size: 14px;
    color: #0a0a0a;
}
.texto {
    font-size: 34px;
    color: #0d0a0a;
    font-weight: 900; /* Para un grosor más grueso */
}

@media (max-width: 768px) {
    .colcircul2 img {
        width: 90px; /* Ajusta el tamaño de las imágenes */
        height: 90px; /* Asegúrate de que la altura sea la misma que el ancho para mantener la proporción circular */
        padding: 1px;
        margin: 1px;
        
    }
}
@media (max-width: 768px) {
    .colcircul2 img {
        width: 92px; /* Ajusta el tamaño de las imágenes */
        height: auto; /* Asegúrate de que la altura sea la misma que el ancho para mantener la proporción circular */
        padding: 1px;
        margin: 1px;

    }
}
footer{
    background-color: #ed9df7;
}
.textoblanco {
    font-size: 34px;
    color: #eae1e1;
    font-weight: 900; /* Para un grosor más grueso */
}