body {
    position: relative;
    z-index: 0;
    background-color: #fff; /* Fondo para contenido */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px); /* Ajusta el valor para más o menos desenfoque */
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
    opacity: 0.7; /* Ajusta la opacidad según sea necesario */
}
.titulo{
    text-align: center;
}
.row {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: center; /* Alinea verticalmente si es necesario */
    gap: 20px; /* Espacio entre las columnas */
}

.col {
    text-align: center; /* Centra el texto debajo de cada imagen */
}

.col img {
    width: 300px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

.col p {
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
}
#view-container {
    height: 100vh; /* Altura del 100% de la ventana visible */
    overflow: hidden; /* Para evitar barras de desplazamiento adicionales */
}

.view {
    height: 100vh; /* Cada vista ocupa toda la ventana visible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}#view-container {
    height: 100vh; /* Altura del 100% de la ventana visible */
    overflow-y: scroll; /* Permitir desplazamiento vertical */
    scroll-snap-type: y mandatory; /* Hace que el scroll pase de vista en vista */
 }
 
 .view {
    height: 100vh; /* Cada vista ocupa toda la ventana visible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    scroll-snap-align: start; /* Alinea las vistas al principio */
    border: 1px solid #ccc; /* Añade un borde para verificar el tamaño del contenedor */
 }
 header {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
   
}
header {
   
    background-color: rgb(5, 82, 82);
}