body {
    position: relative;
    z-index: 0;
    background-color: #fff; /* Fondo para contenido */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px); /* Ajusta el valor para más o menos desenfoque */
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
    opacity: 0.7; /* Ajusta la opacidad según sea necesario */
}
.titulo{
    text-align: center;
}
.row {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: center; /* Alinea verticalmente si es necesario */
    gap: 20px; /* Espacio entre las columnas */
}

.col {
    text-align: center; /* Centra el texto debajo de cada imagen */
}

.col img {
    width: 300px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

.col p {
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
}
